{% load static %}  
<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
      
    <link rel="stylesheet" href="{% static 'css/mahdi-style2.css' %}">
     
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>About</title>  
</head>  
<body >  
    <div class="container about-page">
        <div class="row">
            <center>
                <h1>sahar</h1>
                <div class="col-10 text-mahdi headera-spacing">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi corrupti vitae minima fugit dolore ex, possimus aspernatur mollitia neque voluptate nobis quibusdam eos quod, doloremque similique consequuntur nulla illo aut maiores harum quas. Nulla aliquid deserunt possimus quibusdam nihil eaque.
                </div>
            </center>

        </div>
    </div>

    <script src="{% static 'js/bootstrap.js' %}"></script>  
</body>  
</html>