{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/mahdi-style.css' %}">
    <title>BET</title>
</head>
<body>

    <div class="container first-page">
        <div class="row">
            <center>
                {% if user.is_authenticated %} 
                    <abbr title="be carefull you are getting out of the site">
                    <a class="btn btn-outline-danger " style="float: inline-start; margin-top: 2px;"  href="{% url 'logout' %}"> log out</a>
                    </abbr>     
                {% else %}
                <a class="btn btn-outline-secondary me-1 " style="float: inline-start; margin-top: 2px;" href="{% url 'login' %}">log in</a> 
                <a class="btn btn-outline-info me-1 " style="float: inline-start; margin-top: 2px;" href="{% url 'signup' %}">sign up</a>
                {% endif%}
                <a class="btn btn-outline-success" style="float: inline-end; margin-top: 2px;" href="{% url 'about' %}">about us</a>  
                <br><br>
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

                <div class="col-10 header-spacing">
                     <!-- ************************ -->
                     <form method="POST" action="{% url 'signup' %}">
                        {% csrf_token %}
                            {{ form.as_p}}
                            
                        
                        <button type="submit" class="btn btn-secondary">sign up</button>
                      </form>

                    
                </div>
            </center>
            </div>
        </div>
        
<script src="{% static 'js/bootstrap.js' %}" ></script>
</body>
</html>